*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: #bebebefa;
    text-shadow: 4px 4px 6px rgb(5, 13, 59);
    
}

.estilo-buscar{

    color: rgba(255, 255, 255, 0.938);
    border-color: #120131;
    background: linear-gradient(#332B47, #472B31);

}

.estilo-buscar:hover{

    border: 2px solid #1d0404;

}

.nav-color{

    background: linear-gradient(#120131, #690404ec) !important;

}

.estilo{
    border: none;
    color: #bebebefa !important;
    text-shadow: 4px 4px 6px rgb(5, 13, 59);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    transition-duration: 0.5s;
    transition-property: border-radius;

}

.estilo:hover{

    color: rgb(240, 36, 53) !important;
    text-shadow: 4px 4px 6px rgb(88, 2, 2);
    border: 2px solid #0c0c24;
    border-radius: 5px;
    background-color: rgba(3, 26, 61, 0.514);
    transition-duration: 0,5s;
    transition-property: color, border;
}

.fondo{
    
    background: linear-gradient(#690404ec, #120131) !important;
    
}



.centrar{
    text-align: center;
}



.btn{
    background-color: rgb(26, 66, 94) !important;
    border: 2px solid rgb(22, 22, 138);

}

.botones{
    display: flex !important; 
    flex-direction: row !important; 
    justify-content: space-between !important; 
    margin-top: 20px !important;
}


label{

    text-shadow: 2px 2px 4px rgb(43, 42, 42);
    font-size: x-large;

}




span{
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    font-size: x-large !important;
    color: white !important;
}



.form-control{

    background: linear-gradient(rgb(105, 124, 207), rgb(59, 59, 197)) !important;
    box-shadow: 3px 4px 5px rgb(26, 66, 94) !important;
    color: rgb(255, 255, 255) !important;
    font-size: large !important;

}

.form-control2{

    color: #49D77B !important;

}

.form-control3{

    color: #DF4C40 !important;

}



.input-group-text{

    background: linear-gradient(rgb(151, 165, 226), rgb(109, 109, 197)) !important;
    box-shadow: 4px 4px 5px rgb(26, 66, 94) !important;

}



@media screen and (max-width:767px){
    .ruptura{

        margin-left: 2% !important;

    }
    .row{

        margin-top: 50px !important;

    }

}

